<body>
  <div class="section top">
    <div class="section-content">

      
        <%= link_to image_tag("feathers.png", class: "logo"), welcome_path %>

    </div>
  </div>

  <div class="section header">
    <div class="section-content">
      <h1 class="heading">Hugh's Website</h1>
    </div>
  </div>

  <div class="section about-me">
    <div class="section-content">
      <h3 class="about-header">About Me</h3>
    </div>
  </div>

  <div class="section type">
    <div class="section-content">
      <p class="type-text">
        This is voodoo clothing bitches
      </p>
    </div>

  </div>
</body>
