// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.welcome-header{
  text-align: center;
  font-family: avenir;
  font-size: 25px;
  color: white;
}


.welcome-backround{
  background-color: red;
}

.monkey{
  img{
    height: 200px;
    display: none;
    margin: auto;
  }
}
